body {
  margin: 30px auto;
  text-align: center;
  font-family: sans-serif;
  background: #38598b;
}

h1 {
  padding-top: 30px;
}

select {
  margin: 30px 20px;
  padding: 5px 10px;
  border-radius: 2px;
  min-width: 250px;
}

a {
  color: pink;
}

a:hover {
  color: pink;
}

.container {
  margin-top: 50px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  max-width: 1000px;
  border-radius: 4px;
  background: white;
}

.clock-city {
  font-size: 22px;
  font-weight: 500;
}

.monument img {
  width: 80%;
  padding: 10px;
}

.clocks {
  margin: 0 auto;
  justify-content: space-evenly;
}

.city {
  background: linear-gradient(
    170deg,
    rgb(220, 242, 199) 0%,
    rgb(139, 102, 241) 100%
  );
  padding-top: 50px;
  padding-bottom: 5px;
  width: 250px;
  margin-bottom: 20px;
}

.time {
  font-size: 20px;
  font-weight: bold;
}

footer {
  padding: 30px;
  color: white;
}
